{% extends 'base.html' %}
{% block content %}


<body>
    <center>
        <div class="row">
          <div class="column">
            <img src="{{ url_for('static', filename=image_name) }}" alt="{{ image_name }}" style="width:80%" height="90vh">
          </div>
          <div class="column">
            <img src="{{ url_for('static', filename=altered_image_name) }}" alt="{{ altered_image_name }}" style="width:80%" height="90vh">
          </div>
        </div>

    </center>
</body>
    


{% endblock %}